In [1]:
import kaggle
import pandas as pd
import os
from src import train_model

filepath = "data/Big_Black_Money_Dataset.csv"

In [21]:
    ### With Kaggle, we have to download the entire dataset first
    ### Note: Make sure you have already added your Kaggle credential to your local drive (gotten kaggle.json)
kaggle.api.dataset_download_files('waqi786/global-black-money-transactions-dataset', path='data/', unzip=True)

Dataset URL: https://www.kaggle.com/datasets/waqi786/global-black-money-transactions-dataset

In [15]:
df = pd.read_csv(filepath)
df.head()

,Transaction ID,Country,Amount (USD),Transaction Type,Date of Transaction,Person Involved,Industry,Destination Country,Reported by Authority,Source of Money,Money Laundering Risk Score,Shell Companies Involved,Financial Institution,Tax Haven Country
0,TX0000000001,Brazil,3.267530e+06,Offshore Transfer,2013-01-01 00:00:00,Person_1101,Construction,USA,True,Illegal,6,1,Bank_40,Singapore
1,TX0000000002,China,4.965767e+06,Stocks Transfer,2013-01-01 01:00:00,Person_7484,Luxury Goods,South Africa,False,Illegal,9,0,Bank_461,Bahamas
2,TX0000000003,UK,9.416750e+04,Stocks Transfer,2013-01-01 02:00:00,Person_3655,Construction,Switzerland,True,Illegal,1,3,Bank_387,Switzerland
3,TX0000000004,UAE,3.864201e+05,Cash Withdrawal,2013-01-01 03:00:00,Person_3226,Oil & Gas,Russia,False,Illegal,7,2,Bank_353,Panama
4,TX0000000005,South Africa,6.433784e+05,Cryptocurrency,2013-01-01 04:00:00,Person_7975,Real Estate,USA,True,Illegal,1,9,Bank_57,Luxembourg

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 14 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   Transaction ID               10000 non-null  object
 1   Country                      10000 non-null  object
 2   Amount (USD)                 10000 non-null  float64
 3   Transaction Type             10000 non-null  object
 4   Date of Transaction          10000 non-null  object
 5   Person Involved              10000 non-null  object
 6   Industry                     10000 non-null  object
 7   Destination Country          10000 non-null  object
 8   Reported by Authority        10000 non-null  bool
 9   Source of Money              10000 non-null  object
 10  Money Laundering Risk Score  10000 non-null  int64
 11  Shell Companies Involved     10000 non-null  int64
 12  Financial Institution        10000 non-null  object
 13  Tax Haven Country            10000 non-null  object
dtypes: bool(1), float64(1), int64(2), object(10)
memory usage: 1.0+ MB

In [13]:
df = pd.read_csv(filepath, parse_dates=['Date of Transaction'])
df.head()

,Transaction ID,Country,Amount (USD),Transaction Type,Date of Transaction,Person Involved,Industry,Destination Country,Reported by Authority,Source of Money,Money Laundering Risk Score,Shell Companies Involved,Financial Institution,Tax Haven Country
0,TX0000000001,Brazil,3.267530e+06,Offshore Transfer,2013-01-01 00:00:00,Person_1101,Construction,USA,True,Illegal,6,1,Bank_40,Singapore
1,TX0000000002,China,4.965767e+06,Stocks Transfer,2013-01-01 01:00:00,Person_7484,Luxury Goods,South Africa,False,Illegal,9,0,Bank_461,Bahamas
2,TX0000000003,UK,9.416750e+04,Stocks Transfer,2013-01-01 02:00:00,Person_3655,Construction,Switzerland,True,Illegal,1,3,Bank_387,Switzerland
3,TX0000000004,UAE,3.864201e+05,Cash Withdrawal,2013-01-01 03:00:00,Person_3226,Oil & Gas,Russia,False,Illegal,7,2,Bank_353,Panama
4,TX0000000005,South Africa,6.433784e+05,Cryptocurrency,2013-01-01 04:00:00,Person_7975,Real Estate,USA,True,Illegal,1,9,Bank_57,Luxembourg

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 14 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   Transaction ID               10000 non-null  object
 1   Country                      10000 non-null  object
 2   Amount (USD)                 10000 non-null  float64
 3   Transaction Type             10000 non-null  object
 4   Date of Transaction          10000 non-null  datetime64[ns]
 5   Person Involved              10000 non-null  object
 6   Industry                     10000 non-null  object
 7   Destination Country          10000 non-null  object
 8   Reported by Authority        10000 non-null  bool
 9   Source of Money              10000 non-null  object
 10  Money Laundering Risk Score  10000 non-null  int64
 11  Shell Companies Involved     10000 non-null  int64
 12  Financial Institution        10000 non-null  object
 13  Tax Haven Country            10000 non-null  object
dtypes: bool(1), datetime64[ns](1), float64(1), int64(2), object(9)
memory usage: 1.0+ MB

In [5]:
df.describe()

,Amount (USD),Date of Transaction,Money Laundering Risk Score,Shell Companies Involved
count,1.000000e+04,10000,10000.000000,10000.000000
mean,2.501818e+06,2013-07-28 07:30:00,5.526400,4.469400
min,1.003180e+04,2013-01-01 00:00:00,1.000000,0.000000
25%,1.279005e+06,2013-04-15 03:45:00,3.000000,2.000000
50%,2.501310e+06,2013-07-28 07:30:00,6.000000,4.000000
75%,3.722416e+06,2013-11-09 11:15:00,8.000000,7.000000
max,4.999812e+06,2014-02-21 15:00:00,10.000000,9.000000
std,1.424364e+06,NaN,2.893603,2.879773

In [3]:
# Let's train and validate a model and save it

train_model.train_and_save_model(filepath)

Loading data from: data/Big_Black_Money_Dataset.csv
Training RandomForestClassifier...
Evaluation Report:

--------------------------------------------------
              precision    recall  f1-score   support

       Legal       0.33      0.01      0.01       597
     Illegal       0.70      1.00      0.82      1403

    accuracy                           0.70      2000
   macro avg       0.52      0.50      0.42      2000
weighted avg       0.59      0.70      0.58      2000

Model saved to models/aml_model.pkl

In [4]:
sample_input = {
    "features": [
        12,      # Country
        10000,   # Amount (USD)
        1,       # Transaction Type
        23,      # Person Involved
        7,       # Industry
        18,      # Destination Country
        0,       # Reported by Authority
        6,       # Money Laundering Risk Score
        9,       # Shell Companies Involved
        4,       # Financial Institution
        0,       # Tax Haven Country
        6,       # Month
        15,      # Day
        2        # Weekday
    ]
}

In [9]:
np.array(sample_input['features']).reshape(1, -1)

array([[   12, 10000,     1,    23,     7,    18,     0,     6,     9,
            4,     0,     6,    15,     2]])

In [8]:
import numpy as np